.sold-out {
    padding: 154px 0;
    transition: all 1s;
    color: transparent;

    @include pc-992 {
        padding: 200px 0;
    }

    @include pc-1200 {
        padding: 248.5px 0;
    }

    &:hover {
        background-color: $gray-373A3C;
        opacity: 0.5;
        color: $white;
    }
}