.logo {
    width: 128px;
    height: 38px;
    background: url('../img/d’Perfume.png') no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.circle {
    position: absolute;
    top: 0;
    left: 70%;
    font-size: 0.75rem;
    width: 16px;
    height: 16px;
}

